<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Verto Chat</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>FlutterDeepLinkingEnabled</key>
		<false/>
		<key>CFBundleLocalizations</key>
		<array>
			<string>ru</string>
			<string>en</string>
			<string>de</string>
			<string>sr</string>
			<string>uk</string>
			<string>bg</string>
			<string>hu</string>
			<string>ro</string>
		</array>
		<key>CFBundleName</key>
		<string>vertochat</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.702476548325-j7adhk03g6iurpfg6q0p48p88b192k8p</string>
				</array>
			</dict>
			<dict/>
		</array>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>GADApplicationIdentifier</key>
		<string>ca-app-pub-2514819883330721~4090568069</string>
		<key>GIDClientID</key>
        <string>702476548325-j7adhk03g6iurpfg6q0p48p88b192k8p.apps.googleusercontent.com</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
			<string>fetch</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>NSCameraUsageDescription</key>
        <string>We use the camera so you can take photos and videos directly in chat, share moments instantly, or update your profile picture without leaving the app.</string>
        <key>NSPhotoLibraryUsageDescription</key>
        <string>We use your photo library so you can select and share existing photos or videos in chat, forward media from your gallery, or update your profile photo.</string>
        <key>NSMicrophoneUsageDescription</key>
        <string>We use the microphone so you can send voice messages, record videos with sound, or make in-app calls to your friends.</string>
	</dict>
</plist>
